# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- List popular languages for Data Science.
- Identify commonly used libraries in Data Science.
- Create and render tables in Markdown.
- Convert minutes to hours using Python code.
- Evaluate arithmetic expressions in Python.

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL
4. Julia
5. Java

Some of the commonly used libraries used by Data Scientists include:

1. NumPy
2. Pandas
3. Matplotlib
4. Scikit-learn
5. TensorFlow

| Data Science Tools         |
|----------------------------|
| Jupyter Notebook           |
| RStudio                    |
| Apache Zeppelin            |


### Below are a few examples of evaluating arithmetic expressions in Python.

In [13]:
# This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [15]:
# This will convert 200 minutes to hours by dividing by 60
minutes = 200
hours = minutes / 60
print(hours)

3.3333333333333335

## Author

Jitesh Saha